/* LANDING */

.contenedor-principal {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url('../images/Elche-Ayuntamiento.jpeg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boton-landing{
    background-color: var(--naranja-oscuro); 
    color: var(--blanco); 
    padding: 20px 40px; 
    font-size: 1.5rem; 
    border-radius: 50px; 
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s; 
    opacity: 0.8;
}

.boton-landing:hover {
    transform: scale(1.10);
    opacity: 1;
}

/* BUSCADOR */

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-bar-wrapper {
    width: 80%;
}

.filter-buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.boton-search {
    background-color: var(--naranja-oscuro);
    color: var(--blanco);
    border: none;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    
}

.boton-search:focus {
    background-color: var(--rojo);
}

.boton-lupa {
    background-color: transparent;
    border: none;
    padding: 0 10px;
    font-size: x-large;
}

input.form-control:focus{
    border-color: var(--naranja-oscuro);
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

/* COMERCIO LIST */

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.pagination .page-link {
    color: white;   
    background-color: var(--naranja-oscuro); 
    border: none; 
}


.pagination .page-link:hover {
    background-color: var(--rojo);
    color: white; 
}


.pagination .page-link:focus {
    background-color: var(--rojo);
    color: var(--blanco);
    outline: none;
    box-shadow: none;
}


.pagination .page-item.active .page-link {
    background-color: var(--naranja-oscuro); 
    color: white; 
}

.pagination .page-item.disabled .page-link {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--naranja-oscuro); 
}

/* COMERCIO DETAIL */

.detail_a{
    color: black;
}

.formulario{
    display: none;
}

#toggle:checked ~ .publico {
    display: none;
}

#toggle:checked ~ div.formulario {
    display: block;
}

.boton-naranja {
    background-color: var(--naranja-oscuro);
    color: var(--blanco);
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    
}

.boton-azul {
    background-color: var(--azul-marino);
    color: var(--blanco);
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    
}

/* LOGIN */

.login-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: var(--blanco);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-container h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--azul-oscuro);
}

.login-container .form-control {
    margin-bottom: 1rem;
}

.login-container .form-check {
    display: flex;
    align-items: center;
}

.login-container .form-check-input {
    margin-right: 10px;
}

.forgot-password {
    font-size: 14px;
    text-decoration: none;
    color: var(--azul-oscuro);
}

.forgot-password:hover {
    text-decoration: underline;
}

.boton-login {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--naranja-oscuro);
    color: var(--blanco);
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    margin-top: 10px;
    text-decoration: none;
}

input.form-control:focus {
    border-color: var(--naranja-oscuro); 
    outline: none; 
    box-shadow: 0 0 5px var(--naranja-oscuro); 
}

input.form-check-input:focus {
    border-color: var(--naranja-oscuro); 
    outline: none; 
    box-shadow: 0 0 5px var(--naranja-oscuro); 
}

/* CONTACTO */

.contact-form{
    background: var(--blanco);    
}
.contact-form .form-control{
    border-radius:1rem;
    border: 2px solid var(--azul-marino);
}
.contact-image{
    text-align: center;
}
.contact-image img{
    width: 10%
}
.contact-form form{
    padding: 10%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: var(--azul);
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: var(--naranja-oscuro);
    font-weight: 600;
    color: var(--blanco);
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: var(--blanco);
    border: none;
    cursor: pointer;
}

textarea.form-control {
    resize: none;
}

textarea.form-control:focus {
    border-color: var(--naranja-oscuro); 
    outline: none; 
    box-shadow: 0 0 5px var(--naranja-oscuro); 
}

input.form-control:focus {
    border-color: var(--naranja-oscuro); 
    outline: none; 
    box-shadow: 0 0 5px var(--naranja-oscuro); 
}

/* LISTS */

#toggle:checked ~ .publico {
    display: none;
}

.oculto{
    display: none;
}

#toggle:checked ~ .oculto {
    display: block;
}

.editar-amarillo {
    background-color: var(--naranja-oscuro);
    color: var(--blanco);
    padding: 4px 10px 4px 10px;
    border: none;
    font-size: 95%;
    
}

.editar-rojo {
    background-color: var(--rojo);
    color: var(--blanco);
    padding: 4px 10px 4px 10px;
    border: none;
    font-size: 95%;
    
}


.card-header.titulo {
    background-color: var(--verde);
  }

select.form-control:focus {
    border-color: var(--naranja-oscuro);
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
  }

/* DELETE */

.btn-danger.btn-lg {
    background-color:var(--rojo); 
    border-color: var(--rojo); 
  }
  
  .modal-footer .btn-secondary {
    background-color: var(--gris);
    border-color: var(--gris); 
  }

  .modal-footer .btn-danger {
    background-color: var(--rojo); 
    border-color: var(--rojo); 
  }
  
 
  .modal-header .btn-close {
    color: #fff; 
  }


.modal-header.eliminar {
    background-color: var(--rojo); 
  }
  

  .modal-header .modal-title {
    color: var(--blanco); 
  }

    /* PRIVATE LANDING */

    .admin-panel {
        padding: 2rem;
    }
    .card {
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    .card-title {
        font-weight: bold;
    }
    
    .boton-gestion{
        display: block;
        width: 50%;
        padding: 5px;
        font-size: 16px;
        font-weight: bold;
        background-color: var(--naranja-oscuro);
        color: var(--blanco);
        text-align: center;
        border: none;
        border-radius: 0.5rem;
        margin: 0 auto;
        text-decoration: none;
    }